.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 500px;
  margin-top: 100px;
}

.input-range__slider {
  background: RGB(49, 172, 170);
  border-color: RGB(49, 172, 170);
}

.input-range__track--active {
  background: RGB(0,0,0, 0.6);
  border-color: RGB(0,0,0, 0.6);
}

.input-range__label-container {
  color: RGB(0,0,0, 0.6);
  font-weight: bold;
}